<div class="row">
  <%= render 'shared/user_board' %>
  <div class="stream panel panel-primary">
    <div id="friends" class="resources-block panel-body">
      <h4 class="underlined">FRIENDS</h4>
      <%= render(@friends) || render('shared/no_resource', resources: 'Friends') %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @friends %>
    </div>
  </div>
  <%= render 'shared/sidebar', page: 'friends' %>
</div>
