<% if user.cover_url %>
  <div class="cover hidden-xs" style="background-image: url(<%= user.cover_url.to_s %>);"></div>
<% else %>
  <div class="cover hidden-xs" style="background-image: url(<%= image_path('cover.png') %>);"></div>
<% end %>

