<div class="row">
  <div class="stream">
    <div id="activities" class="resources-block">
      <h4 class="underlined">
        <i class="icon-newspaper"></i> NEWSFEED
      </h4>
      <% if @activities.empty? %>
        <%= render('shared/no_resource', resources: 'Activities') %>
      <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
      <% end %>
    </div>
    <div class="pagination-block">
      <%= render 'shared/paginate', resources: @activities %>
    </div>
  </div>

  <div id="intro" class="col-lg-6">
    <h1>SocialRails</h1>
    <p>SocialRails is an open source social networking app written using Ruby on Rails. Checkout the blog <a href="https://medium.com/@sudharshanmuralidharaniyer/eb31da569233">post</a> on how it was developed and also the source code on <a href="https://github.com/malachaifrazier/social-rails">Github</a>.</p>
    <hr>
    <a href="https://github.com/malachaifrazier/social-rails" class="btn btn-warning">
      Star it
    </a>
    <a href="https://github.com/malachaifrazier/social-rails" class="btn btn-primary">
      Fork it
    </a>
  </div>
</div>
