<div class="modal fade" id="edit-photo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="underlined">EDIT PHOTO</h4>
        <%= simple_form_for(photo, input_html: {multipart: true}) do |f| %>
          <%= hidden_field_tag :id, nil, id: 'photo-id' %>
          <%#= f.input :id, as: :hidden,
            placeholder: photo.id,
            input_html: { id: 'photo-id', value: photo.id } %>
          <div class="form-group">
            <%= f.input :title, label: false, autofocus: true,
              placeholder: 'Photo Title', input_html: { id: 'photo-title', class: "form-control" } %>
          </div>
          <img id="edit-photo-img" src="" alt="">
          <br>
          <br>
          <div class="form-group">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
